[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=spectrum-viz
Exec=/opt/spectrum-viz/bin/spectrum-viz
Icon=spectrum-viz64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
